@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #019b98;
  --secondry-color: #696969;
  --danger-color: #f00202;
}

.body {
  background-color: #eceded;
  @apply w-full;
}
.tableParent {
  width: 100%;
  min-height: 92vh;
  z-index: -1;
}
.tableView {
  width: 100%;
  @apply mx-auto;
}
.p-datatable {
  position: initial !important;
  @apply w-[98%] mx-auto;
}
.p-datatable-header {
  background-color: white !important;
  border-radius: 10px 10px 0px 0px;
  z-index: -3;
}
.p-inputtext.p-component.p-password-input {
  @apply appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-1 px-4 leading-tight focus:outline-none focus:bg-white !important;
}
